<!DOCTYPE html>
<html>
<head>
    <title>Portafolio Sebastian Estrada</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <nav>
        <h2></h2>
        <nav class="navbar">
        <a href="/" class="nav-logo">Inicio</a>
        <div class="nav-links">
            <a href="/contacto">Contacto</a>
            <a href="/sobre-mi">Sobre mi</a>
        </div>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>"©2026 Sebastian E"</footer>
</body>
</html>